<!DOCTYPE html>
<html>
<head>
    <title>Создать заметку</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Создание новой заметки</h1>
    <form action="/users/{{ user.id }}/notes/create" method="post">
        <div>
            <label for="title">Заголовок:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="content">Содержание:</label>
            <textarea id="content" name="content" rows="10" required></textarea>
        </div>
        <button type="submit">Создать заметку</button>
    </form>
    <a href="/users/{{ user.id }}/notes_page">Вернуться к заметкам</a>
</body>
</html>